.shell {
    display: grid;
    grid-template-rows: 4rem auto 2rem;
    min-height: 100vh;
}

.top-bar {
    background-color: indianred;
    text-align: center;
    color: white;
    letter-spacing: 0.2rem;
    font-style: oblique;
}

.bottom-bar {
    background-color: steelblue;
    bottom: 0;
}
