.canvas-panel {
    width: 100%;
    position: relative;
}

.canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.component-container {
    justify-content: center;
}

.control-panel {
    background-color: darkkhaki;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-items: center;
    align-items: center;
}

.info {
    background-color: whitesmoke;
}

.problem-selector {
    // width: 20em;
}
