.canvas-panel {
    width: 100%;
    position: relative;
}

.canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.component-container {
    justify-content: center;
}

.control-panel {
    background-color: darkkhaki;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-items: center;
    align-items: center;
}

.info {
    background-color: whitesmoke;
}

.problem-selector {
    // width: 20em;
}

.summary{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    // width: 100%; // for uix
    // height: 100%;
    // border-radius: 2rem;
}

.spinner-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.2);
    display: grid;
    justify-items: center;
    align-items: center;
}
