<div class="component-container">
    <!-- Controls -->
    <div class="control-panel">
        <div class="cp-problem">
            <mat-form-field class="problem-select">
                <mat-select [(value)]="ps.problem.name" (selectionChange)="selectProblem()" placeholder="Problemler">
                    <mat-option *ngFor="let p of problemList" [value]="p">
                        {{p}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class='summary' (click)="showProblemData=true">
                <div class='align-end'>Machines: {{ps.problem.numberOfMachines}}</div>
                <div class='align-end'>Jobs: {{ps.problem.numberOfJobs}}</div>
                <div class='align-end' matTooltip='Known lowerbound of makespan'>Cmax* : {{ps.problem.boundLower}}</div>
            </div>
        </div>
        <div class="cp-params">
            <mat-form-field>
                <mat-label>Population Size</mat-label>
                <input matInput [(ngModel)]="sss.popSize" placeholder="5 ... 500" type="number" min="5" max="500">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Iteration Limit</mat-label>
                <input matInput [(ngModel)]="sss.iterLimit" placeholder="1 ... 10000" type="number" min="1" max="10000">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Good Reference Size</mat-label>
                <input matInput [(ngModel)]="sss.refSize.good" type="number" min="0">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Diverse Reference Size</mat-label>
                <input matInput [(ngModel)]="sss.refSize.diverse" type="number" min="0">
            </mat-form-field>
            <button mat-raised-button (click)="scatterSearch()" [disabled]="!ps.problem.name || wait">START</button>
        </div>
    </div>
    <!-- Chart -->
    <app-gantt></app-gantt>
    <!-- Output -->
    <div class="result" *ngIf="solution.makespan">
        <!-- Makespan -->
        <div class="result-makespan">
            <b>Makespan:</b>
            <div>{{solution.makespan}}</div>
            <b>Lowerbound:</b>
            <div>{{ps.problem.boundLower}}</div>
            <b>Lb Change:</b>
            <div [ngStyle]="{'color': makespanDif.lbDifference >= 0 ? 'limegreen' : 'red'}">
                {{makespanDif.lbDifference}} &nbsp;&nbsp; ({{makespanDif.lbPercent}}%)
            </div>
            <div></div>
            <div></div>
            <b>Upperbound:</b>
            <div>{{ps.problem.boundUpper}}</div>
            <b>Ub Change:</b>
            <div [ngStyle]="{'color': makespanDif.ubDifference >= 0 ? 'limegreen' : 'red'}">
                {{makespanDif.ubDifference}} &nbsp;&nbsp; ({{makespanDif.ubPercent}}%)
            </div>
        </div>
        <!-- Sequence -->
        <div class="result-sequence">
            <b>Sequence:</b>
            <div>{{solution.sequence}}</div>
        </div>
        <!-- Job Tree -->
        <mat-tree [dataSource]="resultTreeData" [treeControl]="treeControl" class="tree">
            <!-- Expandable node -->
            <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                <li>
                    <div class="mat-tree-node">
                        <button mat-icon-button matTreeNodeToggle>
                            <mat-icon>
                                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                            </mat-icon>
                        </button>
                        <b>{{node.name}}</b>
                        <div class="tree-node" [class.tree-invisible]="!treeControl.isExpanded(node)">
                            <div></div>
                            <span>Process Time</span>
                            <span>Start</span>
                            <span>End</span>
                        </div>
                    </div>
                    <ul [class.tree-invisible]="!treeControl.isExpanded(node)">
                        <ng-container matTreeNodeOutlet></ng-container>
                    </ul>
                </li>
            </mat-nested-tree-node>
            <!-- Leaf node -->
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                <li class="mat-tree-node">
                    <button mat-icon-button disabled style="height: 0;"></button>
                    <div class="tree-node">
                        <b>J{{node.name}}</b>
                        <span>{{node.processTime}}</span>
                        <span>{{node.start}}</span>
                        <span>{{node.end}}</span>
                    </div>
                </li>
            </mat-tree-node>
        </mat-tree>
    </div>
</div>

<!-- Spinner -->
<div *ngIf="wait" class="spinner-container">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="showProblemData" class="spinner-container" (click)="showProblemData=false">
        <table (click)="$event.stopPropagation()">
            <tr>
                <th>{{ps.problem.name}} <span class="close-table-x" (click)="showProblemData=false">x</span></th>
                <th *ngFor="let job of ps.problem.processingTimes[0]; let j = index">J{{j}}</th>
            </tr>
            <tr *ngFor="let machs of ps.problem.processingTimes; let m = index">
                <th>M{{m}}</th>
                <td *ngFor="let job of machs" matTooltip='M{{m}}' [matTooltipPosition]="'left'">{{job}}</td>
            </tr>
        </table>