<div class="component-container">
    <!-- Controls -->
    <div class="control-panel">
        <mat-select [(value)]="ps.problem.name" (selectionChange)="selectProblem()" placeholder="Problemler"
            class="problem-selector">
            <mat-option *ngFor="let p of problemList" [value]="p">
                {{p}}
            </mat-option>
        </mat-select>
        <!-- <button mat-raised-button (click)="test()">TEST</button> -->
        <div class='summary'>
            <div class='align-end'>Machines</div>
            <div class='align-end'>Jobs</div>
            <div class='align-end' matTooltip='Known lowerbound of makespan'>Cmax*</div>
            <div>{{ps.problem.numberOfMachines}}</div>
            <div>{{ps.problem.numberOfJobs}}</div>
            <div>{{ps.problem.boundLower}}</div>
        </div>
        <mat-form-field>
            <input matInput readonly [(value)]="seqLabel">
        </mat-form-field>
        <button mat-raised-button (click)="testRandomize()" [disabled]="!ps.problem.name">Randomize
            sequence</button>
    </div>
    <!-- Chart -->
    <app-gantt></app-gantt>
    <!-- Output -->
    <div class="info">
        Output info
    </div>
</div>

<!-- Spinner -->
<div *ngIf="wait" class="spinner-container">
    <mat-spinner></mat-spinner>
</div>