.canvas-panel {
    width: 100%;
    position: relative;
}

.canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.component-container {
    justify-content: center;
}

.control-panel {
    background-color: darkkhaki;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 50vw));
    justify-items: center;

    .cp-problem {
        width: 100%;
        padding: 1rem;

        .problem-select {
            width: 100%;
        }
    }

    .cp-params {
        width: 100%;
        padding: 1rem;
        display: grid;
        grid-gap: 0.5rem;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

.mat-tree-node {
    min-height: 1rem;
}

.spinner-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.2);
    display: grid;
    justify-items: center;
    align-items: center;

    table { // problem detail styles
        background-color: white;
        box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.5);
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
}

.summary {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 120px));
    justify-content: center;
    cursor: pointer;
}

.summary:focus,
.summary:hover {
    box-shadow: 0 0 5px 0 rgba($color: white, $alpha: 0.4);
}

.result {
    background-color: whitesmoke;
    padding: 1rem 2rem;
}

.result-makespan {
    display: grid;
    grid-template-columns: repeat(3, 6rem 1fr);
    padding-bottom: 1rem;
}

.result-sequence {
    display: grid;
    grid-template-columns: 6rem auto;
    padding-bottom: 1rem;
}

.tree-node {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-items: center;
}

.tree-invisible {
    display: none;
}

.tree ul,
.tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}
